---
import { OFFICIAL_LINKS } from "../lib/i18n";

interface Props {
  title: string;
  xLabel: string;
  telegramLabel: string;
  pumpfunLabel: string;
}

const { title, xLabel, telegramLabel, pumpfunLabel } = Astro.props;
---

<aside aria-label={title} class="c-trust-panel">
  <h2 class="c-trust-title">{title}</h2>
  <ul class="c-trust-list">
    <li><a class="c-footer-link" href={OFFICIAL_LINKS.x}>{xLabel}</a></li>
    <li><a class="c-footer-link" href={OFFICIAL_LINKS.telegram}>{telegramLabel}</a></li>
    <li>
      <a class="c-footer-link" href={OFFICIAL_LINKS.pumpfun}>
        {pumpfunLabel}
      </a>
    </li>
  </ul>
</aside>
